/* stylesheet for fitness club wesite created by .... */

/* styles for the body of the pages */
body {
    background-color: #ffffff;
  }
  
  /* styles to have fluid images */
  img {
    max-width: 100%;
  }
  
  /* Adopting the mobile-first strategy */
  /* styles for the Mobile Layout */
  
  /* styles for the id = container */
  #container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* styles for the logo in the header div */
  header {
    text-align: center;
  }
  
  /* styles for the nav bar containing the links */
  nav {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
  }
  
  /* styles specifies the padding and margins of the unordered list in nav */
  nav ul {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  /* styles for the li in nav */
  nav li {
    background-color: #9d9d93;
    border-radius: 2em;
    margin: 0.3em;
    padding: 0.4em;
    list-style-type: none;
  }
  
  /* styles for the anchor tags that are in nav li */
  nav li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  #imgbanner {
    opacity: 0.5;
  }
  
  .banner {
    position: relative;
  }
  
  .name {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
    color: #ff7979;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  
  .name h1 {
    color: #ff7979;
    /* color: #ff6b6b */
    /* color: #fc5c65; */
  }
  
  /* styles for the mobile class */
  .mobile {
    display: inline;
  }
  
  /* styles for the desktop class */
  .desktop {
    display: none;
  }
  
  /* styles for the main div containg the page information */
  main {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 1em;
    border-radius: 2em 0 2em 0;
    opacity: 0.85;
    background-color: #ffffff;
  }

  /* styles for the info class of main */
  .info #about {
      background-color: #FFB695;
      padding: 1em;
      margin-top: -0.5em;
      font-size: 2em;
      color: black;
  }

  .info #education {
    background-color: #FFB695;
      padding: 1em;
      margin-top: 1em;
      font-size: 2em;
      color: black;
  }

  .info p {
    font-size: 1em;
    text-align: justify;
    margin: 1em;
    line-height: 2em;
  }

  /* styles for the table element */
  table {
    background-color: #ffffff;
    border: 0.1em solid #000000;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
    margin-top: -1em;
  }

  th,td {
    border: 0.1em solid #000000 ;
    padding: 1em;
  }
  /* styles for the th */
  th {
    background-color: #1d1d1c;
    color: #ffffff;
  }
  caption {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
    color: #ffffff;
  }
  
  /* styles for the footer */
  footer {
    font-size: 0.7em;
    text-align: center;
    margin-top: 2em;
    color: #ffffff;
  }
  
  /* styles for the tablet class */
  .tablet {
    display: none;
  }
/* styles for anchor tag inside footer */
footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  /* styles for the copyright id */
#copyright {
    float: left;
    margin-top: 2em;
    width: 80%;
  }
  
  /* styles for the social id */
  #social {
    float: right;
    width: 20%;
  }
  
  /* styles for the images in social id */
  #social img {
    padding: 0.5em;
  }

  